@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Bold.woff') format('woff');
  font-weight: 700;
}