.get {
  margin-bottom: 200px;

  @media (max-width: $breakpoint768) {
    margin-bottom: 100px;
  }


  // .get__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      gap: 50px;
    }
  }

  // .get__picture

  &__picture {
    width: 100%;
  }

  // .get__img

  &__img {
    max-width: 100%;
  }

  // .get__info

  &__info {
    flex: 0 0 400px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
    }
  }

  // .get__opation

  &__opation {
    display: flex;
    align-items: center;
  }

  // .get__operation-img

  &__operation-img {
    width: 30px;
    margin-right: 10px;
  }

  // .get__opation-text

  &__opation-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: var(--second-color);
  }

  // .get__title

  &__title {
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: .35px;

    @media (max-width: $breakpoint768) {
      font-size: 28px;
      line-height: 34px;
    }

  }

  // .get__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 220px;
    padding: 17px 0 13px;
    border-radius: 4px;
    background-color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: .9px;
    text-transform: uppercase;
    color: var(--text-color);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;

    svg path {
      fill: var(--text-color);
    }

    svg {
      width: 20px;
    }

    &:hover {
      background-color: var(--second-color-hover);
    }

    @media (max-width: $breakpoint992) {
      width: 100%;
    }

  }
}