// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

body,
html {
  height: 100%;
  background-color: var(--background-color);

  ::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, .1);
    border-radius: 24px;
  }
}

// Body Locked
body {
  font-family: var(--font-main);
  color: var(--text-color);

  &.locked {
    overflow: hidden;
  }
}

.main__body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

*[data-graph-path="steam-modal"] {
  cursor: pointer;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}