.hero {
  padding: 265px 0 200px;
  background-image: url('../img/main/header-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  // .hero__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // .hero__info

  &__info {
    flex: 0 0 420px;


    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
    }
  }

  // .hero__raiting

  &__raiting {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

    svg {
      align-self: flex-start;
      width: 100px;
      margin-top: -5px;
    }
  }

  // .hero__lavel

  &__lavel {}

  // .hero__starts

  &__starts {
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: fit-content;
    margin-bottom: 5px;
  }

  // .hero__star

  &__star {
    padding: 1px 2px;
    background-color: #00b67a;
    border-radius: 2px;

    svg {
      width: 12px;
      height: fit-content;
    }
  }

  // .hero__lavel-text

  &__lavel-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #00b67a;
    letter-spacing: -.03em;
  }

  // .hero__title

  &__title {
    margin-bottom: 50px;
    font-size: 62px;
    font-weight: 500;
    line-height: 115%;
    color: var(--text-color);


    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      font-size: 42px;
      line-height: 50px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-color-2);
    letter-spacing: -.35px;


    @media (max-width: $breakpoint768) {
      max-width: 320px;
      margin-bottom: 30px;
    }
  }

  // .hero__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 220px;
    height: 56px;
    padding: 10px 8px;
    border-radius: 4px;
    background-color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--text-color);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;


    &:hover {
      background-color: var(--second-color-hover);
    }


    @media (max-width: $breakpoint768) {
      max-width: 100%;
      width: 100%;
    }
  }

  // .hero__pictures

  &__pictures {
    width: 1000px;

    @media (max-width: $breakpoint1450) {
      width: 100%;
    }


    @media (max-width: $breakpoint768) {
      width: 0;
    }
  }

  // .hero__picture-container

  &__picture-container {
    position: relative;

    &:nth-child(1) {
      .hero__picture {
        width: 700px;
        top: -170px;
        left: 300px;
      }

      .hero__picture-line {
        top: 20px;
        left: 492px;
      }

      .hero__picture-texts {
        top: 96px;
        left: 385px;
      }

      @media (max-width: $breakpoint1450) {
        display: none;
      }
    }

    &:nth-child(2) {
      .hero__picture {
        width: 300px;
        top: 80px;
        left: 200px;

        @media (max-width: $breakpoint1450) {
          width: 1000px;
          top: -400px;
          left: auto;
          right: -200px;
          transform: rotate(90deg);
        }


        @media (max-width: $breakpoint768) {
          width: 700px;
          top: -375px;
          right: -210px;
        }
      }

      .hero__picture-line {
        top: 220px;
        left: 285px;
        transform: rotate(222deg);

        @media (max-width: $breakpoint1450) {
          display: none;
        }
      }

      .hero__picture-texts {
        top: 305px;
        left: 434px;

        @media (max-width: $breakpoint1450) {
          display: none;
        }
      }
    }
  }

  // .hero__picture

  &__picture {
    position: absolute;

  }

  // .hero__picture-line

  &__picture-line {
    position: absolute;
  }

  // .hero__picture-texts

  &__picture-texts {
    text-align: right;
    position: absolute;
  }

  // .hero__picture-text

  &__picture-text {

    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--second-color-hover);

    &:nth-child(2) {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: var(--text-color);
    }
  }

  &__picture-texts--karambit {
    text-align: left;
  }

  // .hero__picture-line--karambit

  &__picture-line--karambit {}
}