.market {
  margin-bottom: 100px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 0;
  }

  // .market__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
    }
  }

  // .market__selected

  &__selected {
    flex: 0 0 80px;
    padding: 12px 8px;
    background-color: var(--background-color);
    height: 100%;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
      padding-top: 40px;
      height: 80px;
    }
  }

  // .market__selected-select

  &__selected-select {

    &.active .market__selected-link {
      color: var(--text-color);

      svg path {
        fill: var(--text-color);
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    svg path {
      fill: var(--grey-color);
    }

    &:last-child {
      padding-bottom: 40px;
      border-bottom: 1px solid var(--background-card-color-hover);

      @media (max-width: $breakpoint992) {
        margin-bottom: 0;
        border: 0;
      }
    }
  }

  // .market__selected-link

  &__selected-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: var(--grey-color);

    &:hover svg path {
      fill: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
    }
  }

  // .market__selected-img

  &__selected-img {}

  // .market__sell

  &__sell {
    flex: 1 1 auto;
    background-color: #2d2d33;
    height: 1000px;

    @media (max-width: $breakpoint992) {
      height: 800px;
      width: 100%;
    }
  }

  // .market__header

  &__header {
    display: flex;
    align-items: center;
    padding: 16px;
    width: 100%;
    white-space: nowrap;


    svg {
      width: 20px;
      height: 20px;
    }

    svg path {
      fill: var(--grey-color);
    }

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      row-gap: 20px;
    }

  }

  // .market__repeat

  &__repeat {
    margin-right: 20px;

    svg {
      transition: all 0.2s linear;
    }

    &:hover svg {
      transform: rotate(180deg);
    }

    &:hover svg path {
      fill: var(--text-color);
    }

    @media (max-width: $breakpoint768) {
      flex: 0 0 calc(20px);

    }
  }

  // .market__input

  &__input {
    max-width: 420px;
    width: 100%;
    position: relative;
    margin-right: 24px;

    svg {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    @media (max-width: $breakpoint992) {
      max-width: 320px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 calc(90% - 45px);
    }
  }

  // .market__search

  &__search {
    height: 40px;
    max-width: 420px;
    width: 100%;
    padding: 8px 12px;
    padding-left: 40px;
    background-color: var(--background-input);

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--grey-color);
    border-radius: 4px;
    outline: 0;
  }

  &__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 0 12px;
    margin-left: auto;
    background-color: var(--background-input);
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  // .market__items

  &__items {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-right: 30px;
    border-right: 1px solid var(--background-card-color-hover);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--grey-color);

    &:hover svg path {
      fill: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
    }

    @media (max-width: $breakpoint480) {
      padding-right: 10px;
    }
  }

  // .market__price

  &__price {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-color);

    & svg path {
      fill: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
    }

    @media (max-width: $breakpoint480) {
      padding-left: 10px;
      margin-right: 20px;
    }
  }

  // .market__float

  &__float {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--grey-color);

    &:hover svg path {
      fill: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
    }
  }

  // .market__sell-content

  &__sell-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-top: 50px;

    @media (max-width: $breakpoint992) {
      justify-content: flex-start;
    }

    @media (max-width: $breakpoint768) {
      padding: 0 10px;
    }
  }

  // .market__sell-icon

  &__sell-icon {
    margin-bottom: 20px;

    svg {
      width: 52px;
      height: 52px;
    }

    svg path {
      fill: var(--grey-color);
    }
  }

  // .market__sell-title

  &__sell-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--text-color);
  }

  // .market__sell-subtitle

  &__sell-subtitle {
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    color: hsla(0, 0%, 100%, .3);
    letter-spacing: -.35px;
  }

  // .market__sell-link

  &__sell-link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 320px;
    height: 40px;
    padding: 10px 8px;
    margin-bottom: 50px;
    border-radius: 4px;
    background-color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--text-color);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;


    &:hover {
      background-color: var(--second-color-hover);
    }


    @media (max-width: $breakpoint768) {
      max-width: 100%;
      width: 100%;
    }
  }

  // .market__sell-img

  &__sell-img {
    margin-bottom: 50px;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  // .market__sell-footer-title

  &__sell-footer-title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--text-color);
  }

  // .market__list

  &__list {
    width: 375px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 8px;
    padding-bottom: 0;
    height: 1000px;

    @media (max-width: $breakpoint992) {
      min-width: 200px;
      width: 100%;
      height: 400px;
    }
  }

  // .market__list-title

  &__list-title {
    margin-bottom: auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: var(--text-color);
  }

  // .market__list-img

  &__list-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 52px;
    height: 52px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  // .market__list-bottom-title

  &__list-bottom-title {
    margin: 16px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--text-color);
  }

  // .market__list-bottom-subtitle

  &__list-bottom-subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    color: hsla(0, 0%, 100%, .3);
    letter-spacing: -.35px;
  }

  // .market__list-footer

  &__list-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
    border-top: 1px solid var(--background-card-color-hover);
  }

  // .market__list-total

  &__list-total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: var(--grey-color);
    }

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: var(--text-color);
    }
  }

  // .market__list-get

  &__list-get {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      color: var(--text-color);
    }

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      color: var(--text-color);
    }
  }

  // .market__list-link

  &__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    padding: 14px 16px;
    background-color: rgb(134 120 215/50%);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: var(--text-color);
    text-transform: uppercase;
    cursor: no-drop;
    opacity: 0.7;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }
}

.market {

  // .market__buy

  &__buy {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    background-color: #2d2d33;
    height: 1200px;

    @media (max-width: $breakpoint992) {
      height: 800px;
      width: 100%;
    }
  }

  // .market__filters

  &__filters {
    display: grid;
    gap: 20px;
    padding: 16px;

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .market__filters-title

  &__filters-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-color);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--background-input);
  }

  // .market__filters-box

  &__filters-box {
    width: 210px;
    min-width: 210px;
  }

  // .market__filter

  &__filter {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-color);

  }

  // .market__filter-item

  &__filter-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-color);
  }

  // .market__filters-item

  &__filters-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-color);

    & input {
      width: 74px;
      height: 26px;
      font-size: 14px;
      line-height: 110%;
      color: hsla(0, 0%, 100%, .5);
      background: #44444b;
      border: none;
      border-radius: 4px;
      padding: 0 10px;
    }

    & span {
      font-size: 18px;
      font-weight: 700;
    }
  }

  // .market__filter-checkbox

  &__filter-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--grey-color);
  }

  // .market__filter-checkbox-decor

  &__filter-checkbox-decor {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border: 1.5px solid #c0c0c2;
    border-radius: 2px;
    cursor: pointer;
  }

  // .market__filter-btn-outline

  &__filter-btn-outline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 34px;
    margin-right: 10px;
    border: 1px solid var(--second-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--second-color);
  }

  // .market__filter-btn

  &__filter-btn {
    width: 82px;
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 34px;
    margin-right: 10px;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
  }

  // .market__buy-content

  &__buy-main {
    width: 100%;
  }

  &__buy-content {
    height: 1100px;
    overflow-y: auto;
  }

}


.buy {

  // .buy__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 8px;
  }

  // .buy__item

  &__item {
    position: relative;
    height: 182px;
    background-color: var(--background-card-color);
    border-radius: 4px;

    &:hover {
      background-color: var(--background-card-color-hover);
    }

    &:hover {
      .buy__item-basket {
        background-color: var(--second-color);

        svg path {
          fill: var(--text-color);
        }
      }
    }
  }

  // .buy__item-link

  &__item-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 182px;
    padding: 10px;
  }

  // .buy__item-img

  &__item-img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 105px;
  }

  // .buy__item-discount

  &__item-discount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 4px;
    gap: 10px;
    padding: 2px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: var(--green-color);
    background: rgb(123 195 119/10%);
  }

  &__item-discount-time {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #5ac3c5;
    background: rgb(90 195 197/10%);

    svg {
      width: 12px;
      height: 12px;
      margin-right: 2px;
    }

    svg path {
      fill: #5ac3c5;
    }
  }

  // .buy__item-wr

  &__item-wr {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: var(--grey-color);
  }

  // .buy__item-price

  &__item-price {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 5px;

  }

  // .buy__item-price-new

  &__item-price-new {
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--text-color);
  }

  // .buy__item-price-old

  &__item-price-old {
    position: relative;
    white-space: nowrap;
    font-weight: 500;
    line-height: 20px;
    font-size: .84rem;
    color: rgba(255, 255, 255, .5);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 100%;
      height: 2px;
      background-color: var(--grey-color);
      transform: rotate(-10deg);
    }
  }

  // .buy__item-basket

  &__item-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: var(--background-input);
    border-radius: 4px;

    svg path {
      fill: var(--grey-color);
    }

    &:hover {
      background-color: var(--second-color);

    }
  }

  &__item-patches {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__item-patch {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }
}

.buy {

  // .buy__loading

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }

  // .buy__loading-item

  &__loading-item {
    border: 5px solid var(--second-color);
    border-left-color: transparent;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
  }
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}