// Global SCSS-files imports
@import './fonts';
@import './vars';
@import './reset';
@import './global';

// Sections or Pages SCSS-files imports
@import './header';
@import './footer';
@import './hero';
@import './trade';
@import './popular';
@import './store';
@import './get';
@import './trusted';
@import './skin-free';
@import './market';
@import './modals';

// Libs
// @import './libs/swiper';


.last {}

.last__title {
  min-height: 100vh;
  max-width: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: var(--text-color);
}